@font-face {
  font-family: 'Roboto';
  src: url(/assets/Roboto.eot);
  src: url(/assets/Roboto.eot?#iefix) format('embedded-opentype'),
       url(/assets/Roboto.otf) format('otf'),
       url(/assets//Roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'RedHatDisplay-Regular';
  src: url(/assets//RedHatDisplay-Regular.eot);
  src: url(/assets//RedHatDisplay-Regular.eot?#iefix) format('embedded-opentype'),
       url(/assets//RedHatDisplay-Regular.otf) format('otf'),
       url(/assets//RedHatDisplay-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'RedHatDisplay-Bold';
  src: url(/assets//RedHatDisplay-Regular.ttf);
}

html, body {
  margin: 0px;
  font-family:"Roboto";
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  
.header-navigation {
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header-nav-left-items {
  display: flex;
  flex: 1;
}

.header-nav-right-items {
  display: flex;
  flex: 0.05;
}
  
.header-logo {
  background-image: url(/assets/Vodafone-Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 56px;
  width: 40px;
}
  
.header-nav-item {
  margin: 0px 15px;
  height: 70px;
  width: 85px;
  font-size: 16px;
  line-height: 70px;
}
  
.header-nav-item a {
  color: #644C84;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}
  
.header-nav-item a:hover {
 color: #6493ee;
}
 
.header-nav-item:hover {
  color: #6493ee;
  border-bottom: 2px solid #6493ee;
}
  
.header-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 16%;
  margin-left: 15px;
}

.float-right {
  float: right;
}
  
.header-text {
  font-family: "RedHatDisplay-Bold";
  font-size: 20px;
  font-weight: bold;
  color: #644C84;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  line-height: 70px;
  padding-left: 50px;
}
  
.header-text:hover {
  color:#6493ee;
}
  
.login-form-container {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 35px 50px 35px 50px;
  justify-content: left;
  align-items: left;
  background-color:#404046;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-block-end: 0;
}

.login-form-label {
  margin-top: 25px;
  color:rgb(227, 227, 233);
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.login-form-input {
  width: 100%;
  border: 1px solid rgb(34, 34, 34);
  font-size: 16px;
  height: 40px;
  background-color:#35353a;
  border-radius: 2px;
  color: white;
}

.login-form-submit-button {
  width: 100%;
  background-color:#6493ee;
  color:white;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  border: 0;
  margin-top: 20px;
}

.login-form-error {
  margin-top: 25px;
  color:rgb(219, 58, 58);
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.login-form-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.dashboard-topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dashboard-topnav-username {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 8px 8px;
  margin: 6px 0px;
  text-decoration: none;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #000000;
}

.dashboard-topnav-item {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 8px 8px;
  margin: 6px 0px;
  text-decoration: none;
}

.topnav-right {
  float: right;
}

.no-style {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.targetOuterCircle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  position: relative;
}

.targetInnerCircle {
  width: 100px;
  height: 100px;
  line-height: 75px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}